<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Jembi</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>0.10.0</require_version>
	<!-- / Module Properties -->

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.xdsbrepository.XDSbRepositoryInterfaceActivator</activator>
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.xdsbrepository.extension.html.AdminList</class>
	</extension>
	
	<!--  XDS Repository Servlet -->
	<servlet>
		<servlet-name>xdsrepository</servlet-name>
		<servlet-class>org.openmrs.module.xdsbrepository.spring.servlet.ModuleMessageDispatcherServlet</servlet-class>
	</servlet>
	
	<!-- Required modules -->
	<require_modules>
		<require_module version="1.2.0">org.openmrs.module.shr-contenthandler</require_module>
		<require_module version="0.5.0">org.openmrs.module.shr-atna</require_module>
	</require_modules>
	
	<!-- Maps hibernate file's, if present -->
    <packagesWithMappedClasses>
        org.openmrs.module.xdsbrepository.model
    </packagesWithMappedClasses>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
	<!-- Global properties -->
	
	<globalProperty>
		<property>${project.parent.artifactId}.autoCreatePatients</property>
		<defaultValue>false</defaultValue>
		<description>When true XDS repository will auto-create patients.</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.ws.username</property>
		<defaultValue>admin</defaultValue>
		<description>The user to authenticate as for incoming XDSb requests.</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.ws.password</property>
		<defaultValue>Admin123</defaultValue>
		<description>The users password.</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.xdsregistry.url</property>
		<defaultValue>http://xds.marc-hi.ca:1025/xdsservice/xdsregistry</defaultValue>
		<description>The url of the XDSb registry to use.</description>
	</globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.xdsrepository.uniqueId</property>
        <defaultValue>1.19.6.24.109.42.1.5.1</defaultValue>
        <description>The id of this XDSb repository.</description>
    </globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.homeCommunituyId</property>
		<description>The id of the community within which this SHR operates</description>
		<defaultValue>1.2.3.4.5.6.67.7.8</defaultValue>
	</globalProperty>
</module>

